.logAndSec {
    padding: 16px 24px 0;
    color: #333;
}

.logAndSec-nav {
    margin: 16px 0;
    display: flex;
    gap: 8px;
}

.logAndSec-nav-item-link:hover {
    text-decoration: underline;
}

.logAndSec-nav-btn-back {
    margin-left: -7px;
}

.logAndSec-title {
    padding: 16px 0;
}

.logAndSec-section {
    padding: 16px 0;
    border-bottom: 1px solid #e0e0e0;
    position: relative;
}

.logAndSec-account {
    margin-bottom: 50px;
}

.logAndSec-section-password {
    position: relative;
}

.logAndSec-section-password-notice {
    padding-top: 16px;
    color: #717171;
}

.logAndSec-section-form {
    display: flex;
    flex-direction: column;
}

.logAndSec-section-form-lbl {
    padding: 8px 0;
}

.logAndSec-btn-verify,
.logAndSec-btn-update {
    width: 150px;
    font-weight: bold;
    font-size: 16px;
    padding: 14px 0;
    border-radius: 3px;
    background-color: #008489;
    border: none;
    color: #fff;
    margin: 8px 0 16px;

}

.logAndSec-section-title {
    padding-bottom: 24px;
}

.logAndSec-section-social {
    padding: 24px 0;
    position: relative;
}

.logAndSec-section-social-status {
    display: inline-block;
    margin-top: 16px;
    color: #717171;
}

.logAndSec-section-btn {
    position: absolute;
    right: 0;
    top: 0;
    background-color: transparent;
    border: none;
    font-size: 18px;
    color: #008489;
    font-weight: bold;
    cursor: pointer;
}

.logAndSec-section-dissable {
    display: flex;
    justify-content: space-between;
}

.logAndSec-section-dissable-txt {
    color: #717171;
}

.logAndSec-section-dissable-btn,
.logAndSec-accountDissable-buttons-delete {
    background-color: transparent;
    border: none;
    color: #d93900;
    font-size: 16px;
    cursor: pointer;
}

.logAndSec-accountDissable {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #00000030;
}

.logAndSec-accountDissable-container {
    background-color: #fffffff3;
    box-shadow: 0 0 6px #00000030;
    height: 200px;
    width: 350px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    text-align: center;
}

.logAndSec-accountDissable-notice {
    font-size: 14px;
    text-align: start;
    color: #d93900;
}

.logAndSec-accountDissable-buttons {
    display: flex;
    justify-content: space-between;
}

.logAndSec-accountDissable-buttons-cancel {
    background-color: #008489;
    border: none;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}


@media (max-width : 750px) {
    .logAndSec-title {
        padding: 24px 0;
        font-size: 22px;
        color: #000;
    }

    .logAndSec-accountDissable-container {
        background-color: #fffffff3;
        box-shadow: 0 0 6px #00000030;
        height: 200px;
        padding: 16px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-radius: 8px;
    }
}