.profile{
    min-height: 100vh;
    background-color: #fff;
    padding: 32px 24px 70px;
    position: relative;
    font-size: 1.33rem;
}

.profile-title{
    padding: 16px 0;
}

.profile-arowLeft{
    position: absolute;
    right: 24px;
    margin-top: 2px;
}

.profile-user-title{
    padding-bottom: 24px;
}

.profile-divisor{
    padding: 16px 0;
    border-bottom:1px solid #ddd ;
}

.profile-divisor--noborder{
    border: none;
}

.profile-profile{
    display: flex;
    align-items: center;
}

.profile-profile-texts{
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.profile-profile-texts-title{
    font-weight: bold;
}

.profile-profile-texts-desc{
    font-size: 14px;
    color: #717171;
}

.profile-profile-img{
    margin-left: -5px;
    height: 50px;
    width: 50px;
}

.profile-profile-container{
    position: relative;
}

.profile-profile-cam{
    position: absolute;
    bottom: 8px;
    left: 11px;
}

.profile-inpt{
    display: none;
}

.profile-option{
    padding: 16px 0;
    display: flex;
    align-items: center;
    color: #000;
}

.profile-option-text{
    padding-left: 16px;
    font-size: 18px;
}

.profile-buttons{
    display: flex;
    gap: 16px;
}

.profile-buttons-button, .profile-buttons-button-lang{
    padding: 6px 0;
    background-color: transparent;
    border: none;
    font-weight: bold;
}

.profile-buttons-button-lang{
   display: flex;
   align-items: center;
   gap: 8px; 
}

.profile-buttons-logout{
    padding:10px;
    width: 100%;
    margin-top: 16px;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 8px;
    font-size: 18px;
    font-weight: bold;
}

.profile-notice{
    font-size: 15px;
    color: #717171;
}