.card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    background-color: transparent;
    border: none;
    z-index: 1;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}

.card-skeleton {
    min-height: 418px;
}

.swiper-button-prev,
.swiper-button-next {
    visibility: hidden;
}

.card:hover .swiper-button-prev,
.card:hover .swiper-button-next {
    visibility: visible;
}

.card-img {
    height: 320px;
    width: 100%;
    aspect-ratio: 1;
}

.card-data {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-favorite-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.favorite {
    color: #f00;
}

.card-data-title {
    margin-top: 5px;
}

.card-data-desc {
    font-size: .9rem;
    font-weight: 500;
    color: #888;
}

.card-data-price {
    font-size: 16px;
}

@media (max-width:400px) {
    .card {
        max-width: 100%;
    }
}